<!DOCTYPE html>
<html lang="en" ng-app = "Yempo">

<head>
  <meta charset="UTF-8">
  <title>feed page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=PT+Sans'>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

  <link rel="stylesheet" href="css/styleFeed.css">

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

  <!-- app js -->
  <script src="./app.js"></script>

  <!-- services -->
  <!-- user -->
  <script src="./services/user.service.client.js"></script>
  <!-- post -->
  <script src="./services/post.service.client.js"></script>

</head>
<body>

  <div class='container' ng-controller="FeedController">
    <div ng-show="openslide" id="side-menu" class="side-nav">
      <a class="btn-close" ng-click="closeSlideMenu()">&times;</a>
      <span></br></br></span>
      <a ng-click="openFilters()">Filters</a>
      <a ng-click="openProfile()">Profile</a>
      <a ng-click="openReach()">Reach</a>
      <a href="#">Logout</a>
    </div>
    <div class='card'>
      <div class="add-btn"><a class="fa fa-arrow-right" ng-click="openSlideMenu()"></a></div>
     
	  <div class="filter">
        <select id='filters'>
			<option value="volvo">Filter</option>
			<option value="saab">project1</option>
			<option value="mercedes">project2</option>
			<option value="audi">project3</option>
		</select>
      </div>
	  
	  <div class="sort">
        <select ng-model="selectsort" ng-change="selectSort()" id='sorts'>
          <option value="sort">--Sort by--</option>
			<option value="favorites"># likes</option>
          <option value="retweets"># retweets</option>
          <option value="claps"># claps</option>
		</select>
      </div>
	  
	  <div class="feedheading">
          <h5>Feed</h5>
      </div>
	  
	  <div class="search">
          <input ng-model="search" ng-change="searchPost()" type="text" placeholder="Search..">
      </div>

      <div class="inset toastdemoBasicUsage"> </div>

      <div class="post" id="writepost">
        <div class="avatar"><img src={{currentUser.profilepic}} ></div>
        <div class="name">
          <h5>{{currentUser.name}}</h5>
        </div>
        
		<a class="btn-close" id="closepost" ng-click="closeWritePost()">&times;</a>
        <hr class = "aftername">
        <form ng-submit="createPost(newpost)">
        <div class="write">
          <textarea ng-model="newpost.text" maxlength="280" id="textpost" class="write-post" placeholder="  Write post here ..." ng-click="openWritePost()"></textarea>
        </div>
        <div class="attach">
          <label for="file-input">
          <i class="fa fa-paperclip" style="pointer-events: none"></i>
          </label>
          <input id="file-input" type="file" accept="image/*" file-model="myFiles($files)" style="visibility:hidden;width:0;height:0" />
        </div>
        <hr id="blackline">
		    <div class="share" id="shpost">
          <h6>share post to:</h6>
        </div>
		    <div class="fb" id="fbicon">
          <a class="fa fa-facebook-square"></a>
        </div>
        <div class="twit" id="twiticon">
          <a class="fa fa-twitter-square"></a>
        </div>
        <div class="facebookcheck" id="facecheck">
        Facebook: <input type="checkbox" id="facebookcheck" disabled>
        </div>
        <div class="twitcheck" id="twitcheck">
        Twitter: <input type="checkbox" id="twittercheck" checked>
        </div>
        <div class="share-btn" id="sharebt">
            <button type="submit" class="btn" id="share">share</button>
        </div>
        </form>
      </div>

      <div class="feed" ng-repeat="post in currentFeed">
        <div class="avatar"><img src={{post.profilepic}} ></div>
        <div class="name">
          <h5>{{post.username}}</h5>
        </div>
        <div class="clapcircle">
          <span id='clapcircle'><i class="fa fa-circle"></i></span>
        </div>
        <div class="clapcirclelike">
          <span id='clapcirclelike'><i class="fa fa-circle"></i></span>
        </div>
        <div class="clapcirclelikenum">
          <span id='clapcirclelikenum'>{{post.claps}}</span>
        </div>
        <div class="clap">
          <span id='clap'><i class="fa fa-hand-paper-o" ng-click="clapPost(post._id, post.clapped)"></i></span>
        </div>
        <hr>
        <div ng-show="post.image" class="images"><img src={{post.image}} alt="image" ></div>
        <hr class="img">
        <div class="feedtext" ng-attr-id="{{ post.twitterurl }}">
          <p>{{post.text}}</p>
        </div>
        <div class="expand">
          <span id="expand"><i class="fa fa-expand" ng-click="enlarge(post.twitterurl)"></i></span>
        </div>
        <hr class="img">
        <div class="twitlike">
          <span id='twitlike'><i class="fa fa-heart" ng-click="favoritePost(post._id, post.favorited)"></i></span>
        </div>
        <div class="tweetlikenum">
          <span id='tweetlikenum'>{{post.favorites}}</span>
        </div>
        <div class="twitshare">
          <span id='twitshare'><i class="fa fa-retweet" ng-click="retweetPost(post._id, post.retweeted)"></i></span>
        </div>
        <div class="twitsharenum">
          <span id='twitsharenum'>{{post.retweets}}</span>
        </div>
        <div class="twitopen">
          <span id='twitopen'><a href={{post.twitterurl}} target="_blank"><i class="fa fa-twitter-square" ></i></a></span>
        </div>
        <p class="end"></p>
        <hr>
      </div>
    
    </div>
  </div>
  
  <script src="js/indexFeed.js"></script>

</body>

</html>
