<!DOCTYPE html>
<html lang="en" ng-app = "Yempo">

<head>
	<meta charset="UTF-8">
	<title>Filters</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=PT+Sans'>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styleFilters.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>

<div class='container' ng-controller="FilterController">
	<div ng-show="openslide" id="side-menu" class="side-nav">
		<a class="btn-close" ng-click="closeSlideMenu()">&times;</a>
		<span></br></br></span>
		<a ng-click="openFeed()">Feed</a>
		<a ng-click="openProfile()">Profile</a>
		<a ng-click="openReach()">Reach</a>
		<a href="#">Logout</a>
	</div>
	<div class='card'>
		<div class="add-btn"><a class="fa fa-arrow-right" ng-click="openSlideMenu()"></a></div>

		<div  id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">

				<div ng-show="mostfollowers" md-swipe-right="onSwipeRightMostFollowers($event, $target)" md-swipe-left="onSwipeLeftMostFollowers($event, $target)" class="carousel-item active">
					<h2 class="text-center text-uppercase text-secondary mb-0 h2-class">Most Followers</h2>
					<div class="row svg-class">
							<div class="col-lg-8 mx-auto">
								<div class="row justify-content-center">
									<most-followers acquaintancesinyourarea="acquaintancesInYourArea"
													bridges="bridgesMostFollowers"
													colors="colorsMostFollowers"
													acquaintances="acquaintancesMostFollowers"
													bridgesinyourarea="bridgesInYourArea"
													colorsinyourarea="colorsInYourArea" >
									</most-followers>
								</div>
							</div>
						</div>
					<div class="row svg-class">
						<div class="col-6 button-move">
							<p>{{plusdesc}}</p>
						</div>
						<div class="col-2 button-mv">
							<button class="w3-button w3-teal w3-circle" ng-click="onSelectAdd()">+</button>
						</div>
						<div class="col-2 button-mv">
							<div class="circle" ng-if="dandelion">
								<span ><i class="fa fa-circle"></i></span>
							</div>
							<div class="circlenum" ng-if="dandelion">
								<span >{{acquaintancesInYourArea.length}}</span>
							</div>
							<button class="w3-button w3-teal" ng-if="dandelion" ng-click="onSelectMessage()">Go</button>
						</div>
					</div>
				</div>

				<div ng-show="leastfollowers" md-swipe-right="onSwipeRightLeastFollowers($event, $target)" md-swipe-left="onSwipeLeftLeastFollowers($event, $target)" class="carousel-item active">
					<h2 class="text-center text-uppercase text-secondary mb-0 h2-class">Least Followers</h2>
					<div class="row svg-class">
							<div class="col-lg-8 mx-auto">
								<div class="row justify-content-center">
									<least-followers  acquaintancesinyourarea="acquaintancesInYourArea"
													  bridges="bridgesLeastFollowers"
													  acquaintances="acquaintancesLeastFollowers"
													  colors="colorsLeastFollowers"
													  bridgesinyourarea="bridgesInYourArea"
													  colorsinyourarea="colorsInYourArea" >
									</least-followers>
								</div>
							</div>
						</div>
					<div class="row svg-class">
						<div class="col-6 button-move">
							<p>{{plusdesc}}</p>
						</div>
						<div class="col-2 button-mv">
							<button class="w3-button w3-teal w3-circle" ng-click="onSelectAdd()">+</button>
						</div>
						<div class="col-2 button-mv">
							<div class="circle" ng-if="dandelion">
								<span ><i class="fa fa-circle"></i></span>
							</div>
							<div class="circlenum" ng-if="dandelion">
								<span >{{acquaintancesInYourArea.length}}</span>
							</div>
							<button class="w3-button w3-teal" ng-if="dandelion" ng-click="onSelectMessage()">Go</button>
						</div>
					</div>
				</div>

				<div ng-show="gatewayfollowers" md-swipe-right="onSwipeRightGatewayFollowers($event, $target)" md-swipe-left="onSwipeLeftGatewayFollowers($event, $target)" class="carousel-item active">
					<h2 class="text-center text-uppercase text-secondary mb-0 h2-class">Connected to new people</h2>
					<div class="row svg-class">
							<div class="col-lg-8 mx-auto">
								<div class="row justify-content-center">
									<gateway-followers  acquaintancesinyourarea="acquaintancesInYourArea"
														bridges="bridgesGatewayFollowers"
														acquaintances="acquaintancesGatewayFollowers"
														colors="colorsGatewayFollowers"
														bridgesinyourarea="bridgesInYourArea"
														colorsinyourarea="colorsInYourArea" >
									</gateway-followers>
								</div>
							</div>
					</div>
					<div class="row svg-class">
						<div class="col-6 button-move">
							<p>{{plusdesc}}</p>
						</div>
						<div class="col-2 button-mv">
							<button class="w3-button w3-teal w3-circle" ng-click="onSelectAdd()">+</button>
						</div>
						<div class="col-2 button-mv">
							<div class="circle" ng-if="dandelion">
								<span ><i class="fa fa-circle"></i></span>
							</div>
							<div class="circlenum" ng-if="dandelion">
								<span >{{acquaintancesInYourArea.length}}</span>
							</div>
							<button class="w3-button w3-teal" ng-if="dandelion" ng-click="onSelectMessage()">Go</button>
						</div>
					</div>
				</div>

				<div ng-show="mostactivefollowers" md-swipe-right="onSwipeRightMostActiveFollowers($event, $target)" md-swipe-left="onSwipeLeftMostActiveFollowers($event, $target)" class="carousel-item active">
					<h2 class="text-center text-uppercase text-secondary mb-0 h2-class">Most Active</h2>
					<div class="row svg-class">
							<div class="col-lg-8 mx-auto">
								<div class="row justify-content-center">
									<mostactive-followers  friendsinyourarea="friendsInYourArea"
														   acquaintancesinyourarea="acquaintancesInYourArea"
														   bridges="bridgesMostactiveFollowers"
														   acquaintances="acquaintancesMostactiveFollowers"
														   colors="colorsMostactiveFollowers"
														   bridgesinyourarea="bridgesInYourArea"
														   colorsinyourarea="colorsInYourArea" >
									</mostactive-followers>
								</div>
							</div>
					</div>
					<div class="row svg-class">
						<div class="col-6 button-move">
							<p>{{plusdesc}}</p>
						</div>
						<div class="col-2 button-mv">
							<button class="w3-button w3-teal w3-circle" ng-click="onSelectAdd()">+</button>
						</div>
						<div class="col-2 button-mv">
							<div class="circle" ng-if="dandelion">
								<span ><i class="fa fa-circle"></i></span>
							</div>
							<div class="circlenum" ng-if="dandelion">
								<span >{{acquaintancesInYourArea.length}}</span>
							</div>
							<button class="w3-button w3-teal" ng-if="dandelion" ng-click="onSelectMessage()">Go</button>
						</div>
					</div>
				</div>

				<div ng-show="leastactivefollowers" md-swipe-right="onSwipeRightLeastActiveFollowers($event, $target)" md-swipe-left="onSwipeLeftLeastActiveFollowers($event, $target)" class="carousel-item active">
					<h2 class="text-center text-uppercase text-secondary mb-0 h2-class">Least Active</h2>
					<div class="row svg-class">
							<div class="col-lg-8 mx-auto">
								<div class="row justify-content-center">
									<leastactive-followers  friendsinyourarea="friendsInYourArea"
															acquaintancesinyourarea="acquaintancesInYourArea"
															bridges="bridgesLeastactiveFollowers"
															acquaintances="acquaintancesLeastactiveFollowers"
															colors="colorsLeastactiveFollowers"
															bridgesinyourarea="bridgesInYourArea"
															colorsinyourarea="colorsInYourArea" >
									</leastactive-followers>
								</div>
							</div>
					</div>
					<div class="row svg-class">
						<div class="col-6 button-move">
							<p>{{plusdesc}}</p>
						</div>
						<div class="col-2 button-mv">
							<button class="w3-button w3-teal w3-circle" ng-click="onSelectAdd()">+</button>
						</div>
						<div class="col-2 button-mv">
							<div class="circle" ng-if="dandelion">
								<span ><i class="fa fa-circle"></i></span>
							</div>
							<div class="circlenum" ng-if="dandelion">
								<span >{{acquaintancesInYourArea.length}}</span>
							</div>
							<button class="w3-button w3-teal" ng-if="dandelion" ng-click="onSelectMessage()">Go</button>
						</div>
					</div>
				</div>

				<div ng-show="mostinteractivefollowers" md-swipe-right="onSwipeRightMostInteractiveFollowers($event, $target)" md-swipe-left="onSwipeLeftMostInteractiveFollowers($event, $target)" class="carousel-item active">
					<h2 class="text-center text-uppercase text-secondary mb-0 h2-class">Most Interactive</h2>
					<div class="row svg-class">
							<div class="col-lg-8 mx-auto">
								<div class="row justify-content-center">
									<mostinteractive-followers  friendsinyourarea="friendsInYourArea"
																acquaintancesinyourarea="acquaintancesInYourArea"
																bridges="bridgesMostInteractiveFollowers"
																acquaintances="acquaintancesMostInteractiveFollowers"
																colors="colorsMostInteractiveFollowers"
																bridgesinyourarea="bridgesInYourArea"
																colorsinyourarea="colorsInYourArea" >
									</mostinteractive-followers>
								</div>
							</div>
					</div>
					<div class="row svg-class">
						<div class="col-6 button-move">
							<p>{{plusdesc}}</p>
						</div>
						<div class="col-2 button-mv">
							<button class="w3-button w3-teal w3-circle" ng-click="onSelectAdd()">+</button>
						</div>
						<div class="col-2 button-mv">
							<div class="circle" ng-if="dandelion">
								<span ><i class="fa fa-circle"></i></span>
							</div>
							<div class="circlenum" ng-if="dandelion">
								<span >{{acquaintancesInYourArea.length}}</span>
							</div>
							<button class="w3-button w3-teal" ng-if="dandelion" ng-click="onSelectMessage()">Go</button>
						</div>
					</div>
				</div>

				<div ng-show="messagefollowers" md-swipe-right="onSwipeRightMessageFollowers($event, $target)" md-swipe-left="onSwipeLeftMessageFollowers($event, $target)" class="carousel-item active">
					<h2 class="text-center text-uppercase text-secondary mb-0 h2-class">Message Followers</h2>
					<div class="row svg-class">
							<div class="col-lg-8 mx-auto">
								<div class="row justify-content-center">
									<message-followers
											bridges="acquaintancesInYourArea"
											acquaintances="acquaintancesInYourArea"
											colors="colorsInYourArea"
											sendmessage="sendmessage">
									</message-followers>
								</div>
							</div>
					</div>
					<div class="row svg-class">
						<div class="col-6 button-move">
							{{sendmessage}}
							<textarea class = 'form-control' ng-model="sendnewmessage" id="textpost" maxlength="280" ng-keypress="clicked()"></textarea>
							<div class="row text-right">
								<p>{{ 280 - sendmessage.length - sendnewmessage.length + ' Char left' }}</p></div>
						</div>
						<div class="col-4 button-mv">
							<div class="row postbtn">
								<button class="w3-button w3-teal " ng-click="sendMessage()">Tweet</button>
							</div>
							<div class="row postbtn">
								<button class="w3-button w3-teal " ng-click="backtofilter()">Filters</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script src="js/indexFilters.js"></script>

</body>

</html>